footer {
  position: sticky;
  padding: 20px 20px;
  bottom: 10px;
  display: flex;
  justify-content: right;
}
footer img {
  width: 55px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}
footer img:hover {
  transform: scale(1.5);
}

body {
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  color: white;
}

.card {
  background-color: black;
  width: 25%;
}

.card-text {
  color: white;
  justify-content: center;
  text-align: center;
}

header {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 5px;
  position: sticky;
  z-index: 300000;
  width: 100%;
  top: 0px;
  left: 0px;
}
@media screen and (max-width: 600px) {
  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-right: 32px;
  }
  header ul .menu-link a {
    color: white;
    font-size: 15px;
    padding: 0px;
    text-decoration: none;
    transition: all 0.5s;
  }
  header ul .menu-link a:hover {
    color: white;
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 32px;
  }
  header ul .menu-link a {
    color: white;
    font-size: 20px;
    padding: 0px 15px;
    text-decoration: none;
    transition: all 0.5s;
  }
  header ul .menu-link a:hover {
    color: white;
    font-size: 30px;
  }
}
@media screen and (min-width: 1000px) {
  header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 32px;
  }
  header ul .menu-link a {
    color: white;
    font-size: 25px;
    padding: 0px 15px;
    text-decoration: none;
    transition: all 0.5s;
  }
  header ul .menu-link a:hover {
    color: white;
    font-size: 30px;
  }
}

.almedio, .tour .main_tour .tours_pasados .titulo_tourpasado, .tour .main_tour .tours_pasados, .tour .main_tour .titulo_tour, .main_quienesson .titulo_quienesson, .main_oficial .div_oficial, .main_oficial .titulo_oficial, .main_musica .maincontent_disco, .main_musica .titulo_musica {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .banner img {
  display: block;
  width: 50%;
  margin: auto;
}
main .titulo {
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 20px 0px;
}
@media screen and (min-width: 1000px) {
  main .maincontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  main .maincontent img {
    width: 30%;
    padding: 20px 20px;
  }
  main .maincontent p {
    padding: 20px 20px;
    color: white;
  }
}
@media screen and (min-width: 600px) {
  main .maincontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  main .maincontent img {
    width: 40%;
    padding: 20px 20px;
  }
  main .maincontent p {
    width: 50%;
    padding: 20px 20px;
    color: white;
  }
}
@media screen and (max-width: 600px) {
  main .maincontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  main .maincontent img {
    width: 80%;
    padding: 20px 20px;
  }
  main .maincontent p {
    padding: 20px 20px;
    color: white;
  }
}

.almedio, .tour .main_tour .tours_pasados .titulo_tourpasado, .tour .main_tour .tours_pasados, .tour .main_tour .titulo_tour, .main_quienesson .titulo_quienesson, .main_oficial .div_oficial, .main_oficial .titulo_oficial, .main_musica .maincontent_disco, .main_musica .titulo_musica {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_musica .titulo_musica {
  color: white;
  padding: 20px 0px;
}
.main_musica .maincontent_disco {
  flex-wrap: wrap;
  flex-direction: row;
}
.main_musica .maincontent_disco p {
  padding: 20px 0px;
  width: 80%;
  color: white;
}

.almedio, .tour .main_tour .tours_pasados .titulo_tourpasado, .tour .main_tour .tours_pasados, .tour .main_tour .titulo_tour, .main_quienesson .titulo_quienesson, .main_oficial .div_oficial, .main_oficial .titulo_oficial, .main_musica .titulo_musica, .main_musica .maincontent_disco {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_oficial .titulo_oficial {
  color: white;
  padding: 20px 0px;
}
.main_oficial .div_oficial {
  flex-direction: column;
  list-style: none;
}
.main_oficial .div_oficial a {
  color: white;
  font-size: 20px;
  padding: 0px 15px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.main_oficial .div_oficial img {
  width: 80%;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
}

.almedio, .tour .main_tour .tours_pasados .titulo_tourpasado, .tour .main_tour .tours_pasados, .tour .main_tour .titulo_tour, .main_quienesson .titulo_quienesson, .main_musica .titulo_musica, .main_musica .maincontent_disco, .main_oficial .titulo_oficial, .main_oficial .div_oficial {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_quienesson {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .main_quienesson .maincontent_quienesson {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .main_quienesson .maincontent_quienesson img {
    width: 30%;
    padding: 20px 20px;
  }
  .main_quienesson .maincontent_quienesson p {
    padding: 20px 20px;
    color: white;
  }
}
@media screen and (min-width: 600px) {
  .main_quienesson .maincontent_quienesson {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .main_quienesson .maincontent_quienesson img {
    width: 40%;
    padding: 20px 20px;
  }
  .main_quienesson .maincontent_quienesson p {
    width: 50%;
    padding: 20px 20px;
    color: white;
  }
}
@media screen and (max-width: 600px) {
  .main_quienesson .maincontent_quienesson {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main_quienesson .maincontent_quienesson img {
    width: 80%;
    padding: 20px 20px;
  }
  .main_quienesson .maincontent_quienesson p {
    padding: 20px 20px;
    color: white;
  }
}
.main_quienesson .titulo_quienesson {
  color: white;
  padding: 20px 0px;
}
.main_quienesson .maincontent_integrantes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.almedio, .tour .main_tour .tours_pasados .titulo_tourpasado, .tour .main_tour .tours_pasados, .tour .main_tour .titulo_tour, .main_musica .titulo_musica, .main_musica .maincontent_disco, .main_oficial .titulo_oficial, .main_oficial .div_oficial, .main_quienesson .titulo_quienesson {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour {
  display: grid;
  grid-template-areas: "header" "carousel" "footer";
}
.tour .header_tour {
  grid-area: header;
  padding-top: 20px;
  padding-bottom: 5px;
}
.tour .main_tour .titulo_tour {
  color: white;
  padding: 20px 0px;
}
.tour .main_tour #carouselExampleCaptions {
  grid-area: carousel;
}
.tour .main_tour #carouselExampleCaptions img {
  height: auto;
  width: 70%;
}
.tour .main_tour .tours_pasados {
  flex-direction: column;
}
.tour .main_tour .tours_pasados .titulo_tourpasado {
  color: white;
  padding: 20px 0px;
}
.tour .main_tour .tours_pasados .texto_tourpasado {
  padding: 20px 0px;
  width: 80%;
  color: white;
}
.tour .footer_tour {
  grid-area: footer;
}

/*# sourceMappingURL=styles.css.map */
