.almedio{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    .banner{
        img{
            display: block;
            width: 50%;
            margin: auto;
        }
    }
    .titulo{
        text-align: center;
        color: white;
        font-size: 30px;
        padding: 20px 0px;
    }
    @media screen and (min-width:500px){
        .maincontent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img{
                width: 30%;
                padding: 20px 20px;
            }
            p{
                padding: 20px 20px;
                color: white;
            }
        }
    }
    @media screen and (max-width:500px){
        .maincontent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 80%;
                padding: 20px 20px;
            }
            p{
                padding: 20px 20px;
                color: white;
            }
        }
    }
}