@mixin phone{
    @media screen and (max-width:600px) {
        @content;
    }
}
@mixin pc{
    @media screen and (min-width:1000px){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width:600px) {
        @content;
    }
}
.almedio{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    .banner{
        img{
            display: block;
            width: 50%;
            margin: auto;
        }
    }
    .titulo{
        text-align: center;
        color: white;
        font-size: 30px;
        padding: 20px 0px;
    }
    @include pc(){
        .maincontent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img{
                width: 30%;
                padding: 20px 20px;
            }
            p{
                padding: 20px 20px;
                color: white;
            }
        }
    }
    @include tablet(){
        .maincontent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img{
                width: 40%;
                padding: 20px 20px;
            }
            p{
                width: 50%;
                padding: 20px 20px;
                color: white;
            }
        }
    }
    @include phone(){
        .maincontent{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 80%;
                padding: 20px 20px;
            }
            p{
                padding: 20px 20px;
                color: white;
            }
        }
    }
}