@mixin phone{
    @media screen and (max-width:600px) {
        @content;
    }
}
@mixin pc{
    @media screen and (min-width:1000px){
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width:600px) {
        @content;
    }
}
.almedio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_quienesson{
    width: 100%;
    @include pc() {
        .maincontent_quienesson{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img{
                width: 30%;
                padding: 20px 20px;
            }
            p{
                padding: 20px 20px;
                color: white;
            }
        }         
    }
    @include tablet{
        .maincontent_quienesson{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img{
                width: 40%;
                padding: 20px 20px;
            }
            p{
                width: 50%;
                padding: 20px 20px;
                color: white;
            }
        } 
    }
    @include phone() {
        .maincontent_quienesson{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{
                width: 80%;
                padding: 20px 20px;
            }
            p{
                padding: 20px 20px;
                color: white;
            }
        }         
    }
    .titulo_quienesson{
        @extend .almedio;
        color: white;
        padding: 20px 0px;
    }
    .maincontent_integrantes{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}