.almedio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tour{
    display: grid;
    grid-template-areas: 
    "header"
    "carousel"
    "footer"
    ;
    .header_tour{
        grid-area: header;
    }
    .main_tour{
        .titulo_tour{
            color: white;
            @extend .almedio;
            padding: 20px 0px;
        }
        #carouselExampleCaptions{
            grid-area: carousel;
        }
        .tours_pasados{
            @extend .almedio;
            flex-direction: column;
            .titulo_tourpasado{
                @extend .almedio;
                color: white;
                padding: 20px 0px;
            }
            .texto_tourpasado{
                padding: 20px 0px;
                width: 80%;
                color: white;
            }
        }
    }
    .footer_tour{
        grid-area: footer;
    }
}





