body{
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    color: white;
}

.card{
    background-color: black;
}
.card-text{
    color: white;
    justify-content: center;
    text-align: center;
}

